nav{
  background: #1a1a1a;
}

.logo-flow {
    width: 103px;
    padding-top: 1em;
    height: 43px;
}

.infantiles{
  width: 35px;
}

.dropflow{
  display: flex;
  flex-direction: column;
  background: rgba(30,30,30, 0.9);
  position: absolute;
  z-index: 9999;
  box-shadow: 0px 0px 5px black;
  min-width: 160px;
  float: right;
  margin-top: 64px !important;
}

.avatar{
  width: 40px;
  margin-bottom: -12px;
}
