#login-page {
   width: 420px;
}

.card {
/*      position: absolute;
     left: 50%;
     top: 50%;
     -moz-transform: translate(-50%, -50%)
     -webkit-transform: translate(-50%, -50%)
     -ms-transform: translate(-50%, -50%)
     -o-transform: translate(-50%, -50%)
     transform: translate(-50%, -50%); */
}

.img-top{
  width: 200.9px;
  height: 200.4px;
  object-fit: contain;
}

.bg-img-login{
  background-image: url('https://web.flow.com.ar/img/login/background/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: unset;
  background-color: var(--blackish4);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.card-panel{
  background: #191919;
}

.btn{
  border-radius: 20px;
  background: var(--primary-color);
  color: #000
}
