:root{
  --primary-color: #57dfb7;
  --secondary-color: #478b77;
  --focus: #2fc191;
  --red-error: #a74449;
  --white-two: #ffffff;
  --whitish: #efefef;
  --light-grey: #dddddd;
  --gray: #a9a9a9;
  --gray2: #c3c3c3;
  --greyish: #9b9b9b;
  --placeholder-gray: #686868;
  --greyish-brown: #575756;
  --greyish-brown-two: #4a4a4a;
  --greyish-brown2-transparent: #4a4a4abf;
  --greyish-brown-three: #4c4c4b;
  --blackish: #333333;
  --blackish3: #202020;
  --blackish3-transparent: #20202080;
  --blackish4: #191919;
  --blackish4-transparent-95: #191919f2;
  --blackish4-transparent-80: #191919cc;
  --blackish5: #1a1a1a;
  --black-transparent-98: #0c0c0c;
  --black-transparent-70: #000000b3;
  --black-transparent-50: #00000080;
  --black-transparent-00: #00000000;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #191919;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
